@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  resize: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #acc3c6;
  font-family: sans-serif;
  line-height: 1.5;
  height: 100vh;
  position: relative;
}

container {
  margin: 0 auto;
  width: 85%;
}

section{
  padding: 4rem 0 3rem;
}

a, span, p{
  color: var(--color-text);
  font-size: .9rem;
}


.title {
  text-align: center;
  margin-bottom: 4rem;
}

.title h2{
  font-weight: 700;
  display: inline-block;
  position: relative;
}

.title h2::before{
  content: '';
  position: absolute;
  bottom: 40%;
  left: 105%;
  background: #717fe0;
  height: .2rem;
  width: 2rem;
}

.title h2::after{
 content: '';
 position: absolute;
 bottom: 40%;
 right: 105%;
 background: #3c4268;
 height: .2rem;
 width: 2rem;
}

h3 {
  color:beige;
}

h5{
  color: rgb(28, 49, 42);
  font-weight:bold;
}

p{
  color: rgb(28, 49, 42);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}